<h2>
    <a href="vamosgs.github.io">vamosgs.github.io</a> - Contact form!</h2>
<div style="border: 1px solid;
    width: 30%;
    text-align: center;">
    <h3>From:{{from.name}}, {{from.mail}}</h3>
    <h3>Message: {{message}}</h3>
</div>